body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
}

.site {
    background-image: url("/images/true\ love.jpg");
    height: 100%; 
    background-position: bottom;
    background-repeat: repeat; 
    background-size: cover;
}

.content {
    background-image: url("/images/dating\ logo.png");
    height: 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron { 
    background-color: #fff;
    display: block;
    min-height: 200px;
}


.jumbotron, .h1 {
    color: chocolate;
}

 h1 {
    font-family: 'Vibes', cursive;
    font-weight: bolder;
    font-size: 60px;
    color: chocolate;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 20px;
}

#logo {
    width: 50px;
    position: relative;
    top: -20px;
    right: -8px;
}


#page {
    font-family: 'Philosopher', sans-serif;
    color: black;
	text-align: center;
	max-width: 50%;
	line-height: 1.5;
	margin: auto;
	font-size: 20px;
}

#page1 {
    font-weight: bolder;
}

footer {
	text-align: right;
	background: #fff;
    padding: 30px;
}

.btn {
    font-weight: bolder;
	margin: 30px;
}

.btn:hover {
    color: chocolate;
}

form {
	margin-top: 40px;
}

.form-group {
    font-weight: bolder;
}

a {
	color: chocolate;
    font-size: 13px;
    font-weight: bolder;
}

a:hover {
	color: #5cb85c;	
}


#bestfriendModal {
	text-align: center;
}

#bestFriendPhoto {
	max-width: 100%;
	height: auto;
}

span {
	margin-left: 10px;
	margin-right: 10px;
	color: #777;
	font-size: 20px;
}

.form-control2, option {
    width: 200px;
    height: 25px;
    border-radius: 5px;
}